<div class="container">
  <div class="row" *ngIf="errorCallingRestEndpoint">
    <div class="col-md-12">
      <h3>Quiz Editor D E A D . . . Try again later : - )</h3>
    </div>
  </div>
  <div class="row" *ngIf="!errorCallingRestEndpoint">
    <div class="col-md-4">
      <br>
      <button class="btn btn-outline-success" (click)="addNewQuiz()">Add New Quiz</button>
      <button class="btn btn-link btn-sm" (click)="jsPromisesOne()">JS Promises 1</button>
      <button class="btn btn-link btn-sm" (click)="jsPromisesTwo()">2</button>
      <button class="btn btn-link btn-sm" (click)="jsPromisesThree()">3</button>
      <br>
      <br>
      <div class="list-group">
        <a
          href="#" 
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
          *ngFor="let q of quizzes"
          (click)="setSelectedQuiz(q)"
          [class.active]="selectedQuiz === q"
          [style.text-decoration]="q.markedForDelete ? 'line-through' : 'inherit'"
        >
            {{ q.name }}
            <small>
                {{ q.questions.length }} questions
            </small>
        </a>
      </div>
    </div>
    <div 
      class="col-md-8"
      [@detailsFromLeft]="detailsAnimationState"
      (@detailsFromLeft.done)="detailsFromLeftAnimationComplete()"
    >
      <div *ngIf="selectedQuiz">
        <br>
        <div
          [@pulseSaveCancelButtons]="numberOfAddedQuizzes + numberOfDeletedQuizzes + numberOfEditedQuizzes > 0 ? 'somethingToSave' :'nothingToSave'"
        >
          <button 
            class="btn"
            [class.btn-outline-dark]="numberOfAddedQuizzes + numberOfDeletedQuizzes + numberOfEditedQuizzes === 0"
            [class.btn-dark]="numberOfAddedQuizzes + numberOfDeletedQuizzes + numberOfEditedQuizzes > 0"
          >
            Save Quizzes
            <span 
              *ngIf="numberOfAddedQuizzes > 0"
              class="badge badge-success ml-2"
            >
            + {{ numberOfAddedQuizzes}}
            </span>
            <span 
              *ngIf="numberOfDeletedQuizzes > 0"
              class="badge badge-danger ml-2"
            >
            - {{ numberOfDeletedQuizzes}}
            </span>          
            <span 
              *ngIf="numberOfEditedQuizzes > 0"
              class="badge badge-light ml-2"
            >
            * {{ numberOfEditedQuizzes}}
            </span>
          </button>
          <button class="btn btn-link">Cancel</button>
        </div>
        <br>
        <br>
        <div class="card">
          <div class="card-header">General</div>
          <div class="card-body">
            <label>Name</label>
            <input type="text" [(ngModel)]="selectedQuiz.name" class="form-control">
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Questions</div>
          <div class="card-body">
            <button 
              class="btn btn-outline-success"
              (click)="addNewQuestion()"
            >
              Add New Question
            </button>
            <br>
            <br>
            <div class="row" *ngFor="let question of selectedQuiz.questions">
              <div class="col-md-9">
                <input type="text" class="form-control" [(ngModel)]="question.name">
              </div>
              <div class="col-md-3">
                <button 
                  class="btn btn-link text-danger"
                  (click)="removeQuestion(question)"
                >Remove</button>
              </div>
              <br>
              <br>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">Other</div>
          <div class="card-body">
            <div class="form-check">
              <label class="form-check-label text-danger">
                  <input 
                    type="checkbox" 
                    class="form-check-input" 
                    [(ngModel)]="selectedQuiz.markedForDelete"
                  />
                  Mark for Delete
              </label>      
            </div>
          </div>
        </div>    
      </div>
      <div *ngIf="!selectedQuiz">
        <br>
        <br>
        <br>
        <br>
        <div class="card">
          <div class="card-header">&nbsp;</div>
          <div class="card-body">
            <h5>Select or <button class="btn btn-outline-secondary" (click)="addNewQuiz()">Add a New Quiz</button> to get started...</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

